<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= "index.html" %>

<p>
<%= @hint %>
</p>
<h2>Listing articles</h2>
 <%= link_to 'Back to Homepage', controller: 'welcome' %>
 <%= link_to 'New article', new_article_path %>
<% if @login_stauts %>
 <%= link_to 'Login', login_path %>
 <%= link_to 'Register', new_user_path %>
<% else %>
  <%= link_to 'Logout', logout_path %>
<% end %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Picture</th>
    <th colspan="4"></th>
  </tr>
 <div id="articles">
  <% @articles.each do |article| %>
    <tr>
    <div class="name">
      <td><%= article.title %></td>
      <td><%= article.text %></td>
    </div>
    <div class="picture">
      <td><%= image_tag article.picture %></td>
    </div>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
 </div>
    <%= paginate @articles %>
</table>


<div id="container" style="width: 600px; height: 400px"></div>​
<script type="text/javascript" charset="utf-8">
  $(function () {
    new Highcharts.Chart({
        chart: {
            renderTo: 'container',
            //alignTicks: false,
            type: 'line'
        },
        title: {
          text: "Students"
        },
        xAxis: {
          categories: <%= raw @pie_data.map {|stu| stu["name"]}.inspect %>,
          title: {
            text: "Name"
          }
        },
        yAxis: [{
            title: {
                text: 'age'
            },
            gridLineWidth: 1
        }],
        tooltip: {
            formatter: function() {
                return '<b>'+ this.series.name +'</b><br/>'+
                    this.x +': '+ this.y;
            }
        },
        series: [{
            data: <%= @pie_data.map {|stu| stu["age"]}.inspect %>
        }]
    });
});​
</script>